#buttton{
    text-align: center;
}
body{
   background-color: rgb(2, 28, 51);
  }
button{
      background-color: rgb(31, 117, 133);
      color: white;
      border: none;
      height: 28px;
      width: 100px;
      border-radius: 14px;
      cursor: pointer;
      font-size: 20px; 
      font-family: sans-serif;
  }
button:hover{
      opacity: 0.8;
  }
 button:active{
      opacity: 0.5;
  }